* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Centering the form on the page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  overflow-x: hidden;
  /* Disable horizontal scrolling */
  overflow-y: auto;
  /* Allows vertical scrolling */
  min-height: 100vh;
}

/* Container for the form */
.form-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px;
  /* Add margin for smaller screens */
}

/* Form Title */
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Input fields styling */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 90%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

/* Focus effect for input fields */
.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
  outline: none;
  border-color: #5e72e4;
  box-shadow: 0 0 5px rgba(94, 114, 228, 0.5);
}

/* Submit button styling */
.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #5e72e4;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #324cdd;
}

/* Text below the form */
.form-container p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

/* Link in the text */
.form-container a {
  color: #5e72e4;
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}

.option-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.option {
  padding: 12px 24px;
  background-color: #5e72e4;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.option:hover {
  background-color: #324cdd;
  transform: translateY(-3px);
}

.option-heading {
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}





/* Responsive Design */

@media (max-width: 768px) {
  .form-container {
    padding: 1.5rem;
    margin: 10px;
  }

  .form-container h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    font-size: 14px;
    padding: 10px 12px;
  }

  .form-container button {
    font-size: 16px;
    padding: 10px;
  }

  .form-container p {
    font-size: 12px;
  }

  .option {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 1rem;
  }

  .form-container h2 {
    font-size: 18px;
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    font-size: 12px;
    padding: 8px 10px;
  }

  .form-container button {
    font-size: 14px;
    padding: 8px;
  }

  .option {
    padding: 8px 16px;
    font-size: 12px;
  }
}


@media (max-width: 1024px) {
  .form-container {
    padding: 10rem;
    margin: 50px;
  }

  .form-container h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    font-size: 14px;
    padding: 10px 12px;
  }

  .form-container button {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
  }

  .form-container p {
    font-size: 12px;
  }

  .option {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 912px) {
  body {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    overflow-x: auto;
    overflow-y: auto;
  }

  .filter-group {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .charts-container {
    flex-direction: column;
    align-items: center;
  }

  .chart-container {
    margin-bottom: 20px;
    width: 100%;

  }
}

@media (max-width: 768px) {
  .form-container {
    padding: 10rem;
  }

  .form-container h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    font-size: 14px;
    padding: 10px 12px;
  }

  .form-container button {
    font-size: 16px;
    padding: 10px;
    margin: inherit;
  }

  .form-container p {
    font-size: 12px;
  }

  .option {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 1rem;
  }

  .form-container h2 {
    font-size: 18px;
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    font-size: 12px;
    padding: 8px 10px;
  }

  .form-container button {
    font-size: 14px;
    padding: 8px;
  }

  .option {
    padding: 8px 16px;
    font-size: 12px;
  }
}